// COLORS

$color-grey-white: #fff;
$color-black: #000;

$color-secondary-light: #daabfc;
$color-secondary: #a631f9;


$color-tertiary-light: #2888ff;
$color-tertiary: #5643fa;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-primary: #fc71cb;
$color-primary-light: #fcbde6;
$color-primary-dark: #fc14ab;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//FONT

$default-font-size: 1.6rem;